@import 'tailwindcss';

* {
    font-family: 'Prompt', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* 1:11:16 */

@custom-variant dark (&:where(.dark, .dark *));